@page
@model FilmIndexModel
@{
    ViewData["Title"] = "Films";
    ViewData["Search"] = Model.Search;

    var totalPages = Model.Films.TotalPage;
    var currentPage = Model.Films.PageNumber;
    var startPage = currentPage - 2;
    var endPage = currentPage + 2;

    if (totalPages >= 7)
    {
        if (startPage < 1)
        {
            endPage += Math.Abs(startPage) + 1;
            startPage = 1;
        }

        if (endPage > totalPages)
        {
            startPage -= endPage - totalPages;
            if (startPage < 1)
            {
                startPage = 1;
            }

            endPage = totalPages;
        }
    }
    else
    {
        startPage = 1;
        endPage = totalPages;
    }
}

<section class="catalog">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form class="catalog__nav">
                    <div class="catalog__select-wrap">
                        <input type="hidden" asp-for="Search"/>
                        <select class="catalog__select" asp-for="Genre" asp-items="Model.GenreOptions">
                            <option value="">All genres</option>
                        </select>
                        <select class="catalog__select" asp-for="Country" asp-items="Model.CountryOptions">
                            <option value="">All countries</option>
                        </select>
                        @* <select class="catalog__select" asp-for="Type" asp-items="Model.TypeOptions"> *@
                        @* </select> *@
                        <select class="catalog__select" asp-for="Sort" asp-items="Model.SortOptions">
                        </select>
                        <button class="btn__search" type="submit">Search</button>
                    </div>
                </form>
                <div class="">
                    <div class="" role="tabpanel">
                        <div class="row row--grid">
                            @if (!Model.Films.Data.Any())
                            {
                                <p class="section__text">No films found</p>
                            }
                            @foreach (var item in Model.Films.Data)
                            {
                                <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                                    <div class="card">
                                        <a asp-page="/Film/Detail" asp-route-id="@item.Id" class="card__cover">
                                            <img src="@item.PosterUrl" alt="">
                                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11 1C16.5228 1 21 5.47716 21 11C21 16.5228 16.5228 21 11 21C5.47716 21 1 16.5228 1 11C1 5.47716 5.47716 1 11 1Z" stroke-linecap="round" stroke-linejoin="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M14.0501 11.4669C13.3211 12.2529 11.3371 13.5829 10.3221 14.0099C10.1601 14.0779 9.74711 14.2219 9.65811 14.2239C9.46911 14.2299 9.28711 14.1239 9.19911 13.9539C9.16511 13.8879 9.06511 13.4569 9.03311 13.2649C8.93811 12.6809 8.88911 11.7739 8.89011 10.8619C8.88911 9.90489 8.94211 8.95489 9.04811 8.37689C9.07611 8.22089 9.15811 7.86189 9.18211 7.80389C9.22711 7.69589 9.30911 7.61089 9.40811 7.55789C9.48411 7.51689 9.57111 7.49489 9.65811 7.49789C9.74711 7.49989 10.1091 7.62689 10.2331 7.67589C11.2111 8.05589 13.2801 9.43389 14.0401 10.2439C14.1081 10.3169 14.2951 10.5129 14.3261 10.5529C14.3971 10.6429 14.4321 10.7519 14.4321 10.8619C14.4321 10.9639 14.4011 11.0679 14.3371 11.1549C14.3041 11.1999 14.1131 11.3999 14.0501 11.4669Z" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </a>
                                        <span class="card__rating">
                                            @item.TotalView Views
                                        </span>
                                        <h3 class="card__title">
                                            <a asp-page="/Film/Detail" asp-route-id="@item.Id">@item.Title</a>
                                        </h3>
                                        <ul class="card__list">
                                            @foreach (var selectOption in item.Genres)
                                            {
                                                <li>@selectOption.Label</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                        </div>
                        @if (totalPages > 1)
                        {
                            <div class="catalog__paginator-wrap catalog__paginator-wrap--comments">
                                <span class="catalog__pages">@Model.Films.PageNumber from @Model.Films.TotalPage</span>
                                <ul class="catalog__paginator">
                                    @if (Model.Films.HasPrevious)
                                    {
                                        <li>
                                            <a asp-page="./Index"
                                               asp-route-PageNo="@(currentPage - 1)"
                                               asp-route-Genre="@Model.Genre"
                                               asp-route-Country="@Model.Country"
                                               asp-route-Sort="@Model.Sort">
                                                <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.75 5.36475L13.1992 5.36475" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/><path d="M5.771 10.1271L0.749878 5.36496L5.771 0.602051" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                            </a>
                                        </li>
                                    }

                                    @if (startPage > 1)
                                    {
                                        <li>
                                            <a asp-page="./Index"
                                               asp-route-PageNo="1"
                                               asp-route-Genre="@Model.Genre"
                                               asp-route-Country="@Model.Country"
                                               asp-route-Sort="@Model.Sort">
                                                1
                                            </a>
                                        </li>
                                    }
                                    @if (startPage > 2)
                                    {
                                        <li>
                                            <span>...</span>
                                        </li>
                                    }
                                    @for (var i = startPage; i <= endPage; i++)
                                    {
                                        <li class="@(currentPage == i ? "active" : "")">
                                            <a asp-page="./Index"
                                               asp-route-PageNo="@i"
                                               asp-route-Genre="@Model.Genre"
                                               asp-route-Country="@Model.Country"
                                               asp-route-Sort="@Model.Sort">
                                                @i
                                            </a>
                                        </li>
                                    }
                                    @if (endPage < totalPages - 1)
                                    {
                                        <li>
                                            <span>...</span>
                                        </li>
                                    }
                                    @if (endPage < totalPages)
                                    {
                                        <li>
                                            <a asp-page="./Index"
                                               asp-route-PageNo="@totalPages"
                                               asp-route-Genre="@Model.Genre"
                                               asp-route-Country="@Model.Country"
                                               asp-route-Sort="@Model.Sort">
                                                @totalPages
                                            </a>
                                        </li>
                                    }
                                    @if (Model.Films.HasNext)
                                    {
                                        <li>
                                            <a asp-page="./Index"
                                               asp-route-PageNo="@(currentPage + 1)"
                                               asp-route-Genre="@Model.Genre"
                                               asp-route-Country="@Model.Country"
                                               asp-route-Sort="@Model.Sort">
                                                <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M13.1992 5.3645L0.75 5.3645" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.17822 0.602051L13.1993 5.36417L8.17822 10.1271" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>