@page
@model Create

@{
    ViewData["Title"] = "Update Catalog";
    ViewData["ActivePage"] = "Catalog";
}
<div class="container-fluid">
    <div class="row">
        <!-- main title -->
        <div class="col-12">
            <div class="main__title">
                <h2>Add Item</h2>
            </div>
        </div>
        <!-- end main title -->
        <!-- form -->
        <div class="col-12">
            <form method="post" class="form" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form__img">
                            <label for="form__img-upload">Upload cover</label>
                            <input id="form__img-upload" name="PosterFile" type="file" accept=".png, .jpg, .jpeg">
                            <img id="form__img" src="" alt=" ">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form__img">
                            <label for="form__thumbnail-upload">Upload thumbnail</label>
                            <input id="form__thumbnail-upload" name="ThumbnailFile" type="file" accept=".png, .jpg, .jpeg">
                            <img id="form__thumbnail" src="" alt="Thumbnail">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form__group">
                                <label class="sign__label">Title</label>
                                <input type="text" class="form__input" name="Title" required value="@Model.Title">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="form__group">
                                <label class="sign__label">OtherTitle</label>
                                <input type="text" class="form__input" name="OtherTitle" value="@Model.OtherTitle">
                                <span asp-validation-for="OtherTitle" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form__group">
                                <label class="sign__label">Description</label>
                                <textarea id="text" name="Description" class="form__textarea" required>@Model.Description</textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-12 col-sm-4 col-lg-3">
                            <div class="form__group">
                                <label class="sign__label">ReleaseYear</label>
                                <input type="text" class="form__input" name="ReleaseYear" required value="@Model.ReleaseYear">
                                <span asp-validation-for="ReleaseYear" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 col-lg-3">
                            <div class="form__group">
                                <label class="sign__label">Duration</label>
                                <input type="text" class="form__input" name="Duration" required value="@Model.Duration">
                                <span asp-validation-for="Duration" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="form__group">
                                <label class="sign__label">DurationPerEpisode</label>
                                <input type="text" class="form__input" name="Duration Per Episode" value="@Model.DurationPerEpisode">
                                <span asp-validation-for="DurationPerEpisode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form__group">
                                <label class="sign__label">Actors</label>
                                <input type="text" class="form__input" name="Actor" value="@Model.Actor">
                                <span asp-validation-for="Actor" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="form__group">
                                <label class="sign__label">Director</label>
                                <input type="text" class="form__input" name="Director" value="@Model.Director">
                                <span asp-validation-for="Director" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form__group">
                                <label class="sign__label">Language</label>
                                <select class="js-example-basic-multiple" id="country" name="CountryId" required>
                                    @foreach (var country in Model.Countries)
                                    {
                                        <option value="@country.Value" selected="@(Model.CountryId == country.Value)">@country.Label</option>
                                    }
                                </select>
                                <span asp-validation-for="CountryId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form__group">
                                <label class="sign__label">Genres</label>
                                <select class="js-example-basic-multiple" id="genre" name="FilmGenres" multiple="multiple" required>
                                    @foreach (var genre in Model.Genres)
                                    {
                                        <option value="@genre.Value" selected="@(Model.Genres.Any(item => item.Value == genre.Value))">@genre.Label</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <ul class="form__radio">
                            <li>
                                <span>Type:</span>
                            </li>
                            <li>
                                <input id="movie" type="radio" name="Type" value="0" @(Model.Type.Equals(0) ? "checked" : "")/>
                                <label for="movie">Movie</label>
                            </li>
                            <li>
                                <input id="series" type="radio" name="Type" value="1" @(Model.Type.Equals(1) ? "checked" : "")/>
                                <label for="series">TV Show</label>
                            </li>
                        </ul>
                    </div>
                    @* <div class="col-12 col-md-6"> *@
                    @*     <video style="max-width: 600px" controls poster="@Model.VideoUrl" id="player"> *@
                    @*         <!-- Video files --> *@
                    @*         <source src="@Model.VideoUrl" type="video/mp4" size="720"> *@
                    @*         <!-- Fallback for browsers that don't support the <video> element --> *@
                    @*         <a href="@Model.VideoUrl" download>Download</a> *@
                    @*     </video> *@
                    @* </div> *@
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form__group">
                                    <label class="sign__label">Upload Video</label>
                                    @* <input data-name="#movie1" id="form__video-upload" name="VideoFile" asp-for="@Model.VideoFile" class="form__video-upload" type="file" accept="video/mp4,video/x-m4v,video/*"> *@
                                    <input type="file" class="form__input" accept="video/mp4,video/x-m4v,video/*" name="VideoFile" value="@Model.VideoFile">
                                </div>
                            </div>

                            <div class="col-12 col-lg-6">
                                <div class="form__group">
                                    <label class="sign__label">Trailer</label>
                                    <input type="text" class="form__input" name="TrailerUrl" value="@Model.TrailerUrl">
                                    <span asp-validation-for="TrailerUrl" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="form__btn">Publish</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- end form -->
    </div>
</div>