@using Group06_Project.Domain.Entities
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
@* <ul class="nav nav-pills flex-column"> *@
@*     <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li> *@
@*     <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li> *@
@*     <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li> *@
@*     @if (hasExternalLogins) *@
@*     { *@
@*         <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li> *@
@*     } *@
@*     <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li> *@
@*     <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li> *@
@* </ul> *@
<ul class="nav nav-tabs profile__tabs" id="profile__tabs" role="tablist">
    <li class="nav-item">
        <a id="profile" asp-page="./Index" class="nav-link @ManageNavPages.IndexNavClass(ViewContext)">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" role="tab" aria-controls="tab-2">Favorites</a>
    </li>
    <li class="nav-item">
        <a id="email" asp-page="./Email" class="nav-link @ManageNavPages.EmailNavClass(ViewContext)">Email</a>
    </li>
    <li class="nav-item">
        <a id="change-password" asp-page="./ChangePassword" class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)">Password</a>
    </li>
</ul>