@page
@model Group06_Project.Web.Areas.Admin.Pages.Comment.CommentModel

@{
    ViewData["Title"] = "Comments";
    ViewData["ActivePage"] = "Comment";
    var totalPages = Model.Comments.TotalPage;
    var currentPage = Model.Comments.PageNumber;
    var startPage = currentPage - 2;
    var endPage = currentPage + 2;

    if (totalPages >= 7)
    {
        if (startPage < 1)
        {
            endPage += Math.Abs(startPage) + 1;
            startPage = 1;
        }

        if (endPage > totalPages)
        {
            startPage -= endPage - totalPages;
            if (startPage < 1)
            {
                startPage = 1;
            }

            endPage = totalPages;
        }
    }
    else
    {
        startPage = 1;
        endPage = totalPages;
    }
}
<div class="container-fluid">
    <div class="row">

        <div class="col-12">
            <div class="main__title">
                <h2>Comments</h2>
                <span class="main__title-stat">Total: @Model.Comments.TotalElement.ToString("N0") comments</span>
                <div class="main__title-wrap">
                    <!-- filter sort -->
                    <div class="filter" id="filter__sort">
                        <span class="filter__item-label">Sort by:</span>

                        <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <input type="button" value="@(Model.SortOptions.FirstOrDefault(s => s.Value == Model.Sort)?.Text ?? Model.SortOptions.First().Text)">
                            <span></span>
                        </div>

                        <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-sort">
                            @foreach (var item in Model.SortOptions)
                            {
                                <li data-value="@item.Value" onclick="location.href='@Url.Page("./Index", new { Sort = item.Value })'">
                                    @item.Text
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- end filter sort -->
                    <div class="main__title-form"></div>
                </div>
            </div>
        </div>
        <!-- end main title -->
        <!-- comments -->
        <div class="col-12">
            <div class="main__table-wrap">
                <table class="main__table">
                    <colgroup>
                        <col style="width: 20%;">
                        <col style="width: 20%;">
                        <col style="width: 20%;">
                        <col style="width: 20%;">
                        <col style="width: 20%;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>FILM</th>
                        <th>USER</th>
                        <th>COMMENT</th>
                        <th>TIME</th>
                        <th>ACTIONS</th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (!Model.Comments.Data.Any())
                    {
                        <tr>
                            <td colspan="5" class="main__table-text">No comments found</td>
                        </tr>
                    }
                    @foreach (var comment in Model.Comments.Data)
                    {
                        <tr>
                            <td>
                                <a asp-page="./Index" asp-area="Admin" asp-route-FilmId="@comment.FilmId" class="main__table-text">@(comment.FilmTitle.Length > 100 ? comment.FilmTitle[..100] + "..." : comment.FilmTitle)</a>
                            </td>
                            <td>
                                <a asp-page="./Index" asp-area="Admin" asp-route-UserId="@comment.UserId" class="main__table-text">@comment.UserName</a>
                            </td>
                            <td>
                                <div class="main__table-text text-truncate">@(comment.Content.Length > 100 ? comment.Content[..100] + "..." : comment.Content)</div>
                            </td>
                            <td>
                                <div class="main__table-text">@comment.Time.ToString("dd MMM yyyy HH:mm")</div>
                            </td>
                            <td>
                                <div class="main__table-btns">
                                    <a href="#modal-view" class="main__table-btn main__table-btn--view open-modal" data-id="@comment.Id" data-author="@comment.UserName" data-time="@comment.Time.ToString("dd MMM yyyy HH:mm")" data-content="@comment.Content">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <path d="M21.92,11.6C19.9,6.91,16.1,4,12,4S4.1,6.91,2.08,11.6a1,1,0,0,0,0,.8C4.1,17.09,7.9,20,12,20s7.9-2.91,9.92-7.6A1,1,0,0,0,21.92,11.6ZM12,18c-3.17,0-6.17-2.29-7.9-6C5.83,8.29,8.83,6,12,6s6.17,2.29,7.9,6C18.17,15.71,15.17,18,12,18ZM12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,14Z"/>
                                        </svg>
                                    </a>
                                    <a href="#modal-delete" class="main__table-btn main__table-btn--delete open-modal" data-id="@comment.Id">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <path d="M10,18a1,1,0,0,0,1-1V11a1,1,0,0,0-2,0v6A1,1,0,0,0,10,18ZM20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Zm-3-1a1,1,0,0,0,1-1V11a1,1,0,0,0-2,0v6A1,1,0,0,0,14,18Z"/>
                                        </svg>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end comments -->
        <!-- paginator -->
        @if (totalPages > 1)
        {
            <div class="paginator">
                <span class="paginator__pages">@Model.Comments.PageNumber from @Model.Comments.TotalPage</span>
                <ul class="paginator__paginator">
                    @if (Model.Comments.HasPrevious)
                    {
                        <li>
                            <a asp-page="./Index"
                               asp-route-PageNo="@(currentPage - 1)"
                               asp-route-UserId="@Model.UserId"
                               asp-route-FilmId="@Model.FilmId"
                               asp-route-Sort="@Model.Sort">
                                <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.75 5.36475L13.1992 5.36475" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M5.771 10.1271L0.749878 5.36496L5.771 0.602051" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </li>
                    }

                    @if (startPage > 1)
                    {
                        <li>
                            <a asp-page="./Index"
                               asp-route-PageNo="1"
                               asp-route-UserId="@Model.UserId"
                               asp-route-FilmId="@Model.FilmId"
                               asp-route-Sort="@Model.Sort">
                                1
                            </a>
                        </li>
                    }
                    @if (startPage > 2)
                    {
                        <li>
                            <span>...</span>
                        </li>
                    }
                    @for (var i = startPage; i <= endPage; i++)
                    {
                        <li class="@(currentPage == i ? "active" : "")">
                            <a asp-page="./Index"
                               asp-route-PageNo="@i"
                               asp-route-UserId="@Model.UserId"
                               asp-route-FilmId="@Model.FilmId"
                               asp-route-Sort="@Model.Sort">
                                @i
                            </a>
                        </li>
                    }
                    @if (endPage < totalPages - 1)
                    {
                        <li>
                            <a>...</a>
                        </li>
                    }
                    @if (endPage < totalPages)
                    {
                        <li>
                            <a asp-page="./Index"
                               asp-route-PageNo="@totalPages"
                               asp-route-UserId="@Model.UserId"
                               asp-route-FilmId="@Model.FilmId"
                               asp-route-Sort="@Model.Sort">
                                @totalPages
                            </a>
                        </li>
                    }
                    @if (Model.Comments.HasNext)
                    {
                        <li>
                            <a asp-page="./Index"
                               asp-route-PageNo="@(currentPage + 1)"
                               asp-route-UserId="@Model.UserId"
                               asp-route-FilmId="@Model.FilmId"
                               asp-route-Sort="@Model.Sort">
                                <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.1992 5.3645L0.75 5.3645" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.17822 0.602051L13.1993 5.36417L8.17822 10.1271" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
<!-- end main content -->
<!-- modal view -->
<div id="modal-view" class="zoom-anim-dialog mfp-hide modal modal--view">
    <div class="comments__autor">
        <img class="comments__avatar" src="~/img/user.svg" alt="">
        <span class="comments__name"></span>
        <span class="comments__time"></span>
    </div>
    <p class="comments__text"></p>
</div>
<!-- end modal view -->
<!-- modal delete -->
@* <div id="modal-delete" class="zoom-anim-dialog mfp-hide modal"> *@
@*     <h6 class="modal__title">Comment delete</h6> *@
@* *@
@*     <p class="modal__text">Are you sure to permanently delete this comment?</p> *@
@* *@
@*     <div class="modal__btns"> *@
@*         <button class="modal__btn modal__btn--apply" type="button" onclick="deleteComment()">Delete</button> *@
@*         <button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button> *@
@*     </div> *@
@* </div> *@
<div id="modal-delete" class="zoom-anim-dialog mfp-hide modal">
    <form asp-page-handler="Delete" method="post">
        <h6 class="modal__title">Delete comment</h6>

        <p class="modal__text">Are you sure to delete this comment?</p>
        <input type="hidden" name="commentId" id="deleteCommentId">
        <input type="hidden" name="pageNumber" value="@Model.PageNo">
        <div class="modal__btns">
            <input class="modal__btn modal__btn--apply" type="submit" value="Apply"/>
            <button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
        </div>
    </form>
</div>
<script>
		document.addEventListener('DOMContentLoaded', function () {
			let viewButtons = document.querySelectorAll('.main__table-btn--view');
            let modalView = document.getElementById('modal-view');

			viewButtons.forEach(function (button) {
				button.addEventListener('click', function () {
                    let commentId = button.getAttribute('data-id');
                    let commentAuthor = button.getAttribute('data-author');
                    let commentTime = button.getAttribute('data-time');
                    let commentContent = button.getAttribute('data-content');

					modalView.querySelector('.comments__name').textContent = commentAuthor;
					modalView.querySelector('.comments__time').textContent = commentTime;
					modalView.querySelector('.comments__text').textContent = commentContent;
				});
			});
		});

        document.addEventListener('DOMContentLoaded', function () {
            let deleteButtons = document.querySelectorAll('.main__table-btn--delete');

            deleteButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    document.getElementById('deleteCommentId').value = button.getAttribute('data-id');
                });
            });
        });
</script>