@page
@model Delete

@{
    ViewData["Title"] = "Delete";
}

<div class="container-fluid">
    <div class="row">
        <!-- main title -->
        <div class="col-12">
            <div class="main__title">
                <h1 style="color: whitesmoke">Do you sure you want to delete this?</h1>
                <div>
                    <hr/>
                    <div class="col-12">
                        <div class="main__table-wrap">
                            <table class="main__table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>TITLE</th>
                                    <th>RATING</th>
                                    <th>GENRE</th>
                                    <th>VIEWS</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="main__table-text">@Model.Film.Id</div>
                                    </td>
                                    <td>
                                        <div class="main__table-text">
                                            <a asp-page="/Film/Details" asp-route-id="@Model.Film.Id">@Model.Film.Title</a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="main__table-text">@Model.Film.Genres.FirstOrDefault()?.Label</div>
                                    </td>
                                    <td>
                                        <div class="main__table-text">@Model.Film.TotalView</div>
                                    </td>
                                </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <form method="post">
                        <input type="hidden" asp-for="Film.Id"/>
                        <button type="submit" style="margin: 15px; color: whitesmoke; background-color: red">
                            Delete
                        </button>
                        <a asp-page="./Index">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>